
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<h1>Pagina cu toti utilizatorii users/index</h1>
<table>
  <thead>
    <tr>
      <th>Nume</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |f| %>
      <tr>
        <td><%= f.nume %></td>
        <td><%= f.email %></td>
        <td><%= link_to "Show", {:controller => "users", :action => "show", :users => f.id }%></td>
        <td><%= link_to "Edit", {:controller => "users", :action => "edit", :users => f.id }%></td>
        <td><%= link_to "Delete", {:controller => "users", :action => "destroy",  :users => f.id }, data: {confirm: "Sigur stergi ?"}%></td>
        
     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', users_new_path %>
